In [247]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import numpy as np
import matplotlib.pyplot as plt

In [248]:
#Pull data from csv file- traffic camera locations
csv_file = "BPD_Part_1_Victim_Based_Crime_Data.csv"
baltimore_crime_df = pd.read_csv(csv_file)
baltimore_crime_df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1
1,09/02/2017,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NaN,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",STREET,1
2,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1
3,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1
4,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1

In [249]:
crime_columns = ["CrimeDate", "CrimeTime", "Location", "Description", "Weapon", "District", "Neighborhood", "Longitude", "Latitude", "Location 1", "Total Incidents"]
baltimore_crime_df = baltimore_crime_df[crime_columns].copy()
baltimore_crime_df = baltimore_crime_df.rename(columns={"Location": "Location_Name", "Location 1":"Exact_Location", "Total Incidents": "Total_Incidents"})
baltimore_crime_df.index.names = ['ID']
baltimore_crime_df.head()

,CrimeDate,CrimeTime,Location_Name,Description,Weapon,District,Neighborhood,Longitude,Latitude,Exact_Location,Total_Incidents
ID,,,,,,,,,,,
0,09/02/2017,23:30:00,4200 AUDREY AVE,ROBBERY - RESIDENCE,KNIFE,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",1
1,09/02/2017,23:00:00,800 NEWINGTON AVE,AUTO THEFT,NaN,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",1
2,09/02/2017,22:53:00,600 RADNOR AV,SHOOTING,FIREARM,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",1
3,09/02/2017,22:50:00,1800 RAMSAY ST,AGG. ASSAULT,OTHER,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",1
4,09/02/2017,22:31:00,100 LIGHT ST,COMMON ASSAULT,HANDS,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",1

In [250]:
baltimore_crime_df.dtypes

CrimeDate           object
CrimeTime           object
Location_Name       object
Description         object
Weapon              object
District            object
Neighborhood        object
Longitude          float64
Latitude           float64
Exact_Location      object
Total_Incidents      int64
dtype: object

In [251]:
baltimore_crime_df.dropna()
baltimore_crime_df = baltimore_crime_df[pd.notnull(baltimore_crime_df['Weapon'])]
baltimore_crime_df.head()

,CrimeDate,CrimeTime,Location_Name,Description,Weapon,District,Neighborhood,Longitude,Latitude,Exact_Location,Total_Incidents
ID,,,,,,,,,,,
0,09/02/2017,23:30:00,4200 AUDREY AVE,ROBBERY - RESIDENCE,KNIFE,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",1
2,09/02/2017,22:53:00,600 RADNOR AV,SHOOTING,FIREARM,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",1
3,09/02/2017,22:50:00,1800 RAMSAY ST,AGG. ASSAULT,OTHER,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",1
4,09/02/2017,22:31:00,100 LIGHT ST,COMMON ASSAULT,HANDS,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",1
6,09/02/2017,21:15:00,3400 HARMONY CT,HOMICIDE,FIREARM,SOUTHEASTERN,Canton,-76.56827,39.28202,"(39.2820200000, -76.5682700000)",1

In [252]:
baltimore_crime_df = baltimore_crime_df.reset_index()
baltimore_crime_df.index.names = ['Index_Number']
baltimore_crime_df = baltimore_crime_df.drop('ID', 1)
baltimore_crime_df.head()

,CrimeDate,CrimeTime,Location_Name,Description,Weapon,District,Neighborhood,Longitude,Latitude,Exact_Location,Total_Incidents
Index_Number,,,,,,,,,,,
0,09/02/2017,23:30:00,4200 AUDREY AVE,ROBBERY - RESIDENCE,KNIFE,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",1
1,09/02/2017,22:53:00,600 RADNOR AV,SHOOTING,FIREARM,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",1
2,09/02/2017,22:50:00,1800 RAMSAY ST,AGG. ASSAULT,OTHER,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",1
3,09/02/2017,22:31:00,100 LIGHT ST,COMMON ASSAULT,HANDS,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",1
4,09/02/2017,21:15:00,3400 HARMONY CT,HOMICIDE,FIREARM,SOUTHEASTERN,Canton,-76.56827,39.28202,"(39.2820200000, -76.5682700000)",1

In [253]:
connection_string = "root:Miamiheat5@localhost/ProjectTwo_db"
engine = create_engine(f'mysql://{connection_string}')

In [254]:
engine.table_names()

['crime_data']

In [255]:
baltimore_crime_df.to_sql(name='crime_data', con=engine, if_exists='append', index=True)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'PRIMARY'")
[SQL: INSERT INTO crime_data (`Index_Number`, `CrimeDate`, `CrimeTime`, `Location_Name`, `Description`, `Weapon`, `District`, `Neighborhood`, `Longitude`, `Latitude`, `Exact_Location`, `Total_Incidents`) VALUES (%(Index_Number)s, %(CrimeDate)s, %(CrimeTime)s, %(Location_Name)s, %(Description)s, %(Weapon)s, %(District)s, %(Neighborhood)s, %(Longitude)s, %(Latitude)s, %(Exact_Location)s, %(Total_Incidents)s)]
[parameters: ({'Index_Number': 0, 'CrimeDate': '09/02/2017', 'CrimeTime': '23:30:00', 'Location_Name': '4200 AUDREY AVE', 'Description': 'ROBBERY - RESIDENCE', 'Weapon': 'KNIFE', 'District': 'SOUTHERN', 'Neighborhood': 'Brooklyn', 'Longitude': -76.60540999999999, 'Latitude': 39.22951, 'Exact_Location': '(39.2295100000, -76.6054100000)', 'Total_Incidents': 1}, {'Index_Number': 1, 'CrimeDate': '09/02/2017', 'CrimeTime': '22:53:00', 'Location_Name': '600 RADNOR AV', 'Description': 'SHOOTING', 'Weapon': 'FIREARM', 'District': 'NORTHERN', 'Neighborhood': 'Winston-Govans', 'Longitude': -76.60696999999999, 'Latitude': 39.34768, 'Exact_Location': '(39.3476800000, -76.6069700000)', 'Total_Incidents': 1}, {'Index_Number': 2, 'CrimeDate': '09/02/2017', 'CrimeTime': '22:50:00', 'Location_Name': '1800 RAMSAY ST', 'Description': 'AGG. ASSAULT', 'Weapon': 'OTHER', 'District': 'SOUTHERN', 'Neighborhood': 'Carrollton Ridge', 'Longitude': -76.64526, 'Latitude': 39.28315, 'Exact_Location': '(39.2831500000, -76.6452600000)', 'Total_Incidents': 1}, {'Index_Number': 3, 'CrimeDate': '09/02/2017', 'CrimeTime': '22:31:00', 'Location_Name': '100 LIGHT ST', 'Description': 'COMMON ASSAULT', 'Weapon': 'HANDS', 'District': 'CENTRAL', 'Neighborhood': 'Downtown West', 'Longitude': -76.61365, 'Latitude': 39.28756, 'Exact_Location': '(39.2875600000, -76.6136500000)', 'Total_Incidents': 1}, {'Index_Number': 4, 'CrimeDate': '09/02/2017', 'CrimeTime': '21:15:00', 'Location_Name': '3400 HARMONY CT', 'Description': 'HOMICIDE', 'Weapon': 'FIREARM', 'District': 'SOUTHEASTERN', 'Neighborhood': 'Canton', 'Longitude': -76.56827, 'Latitude': 39.28202, 'Exact_Location': '(39.2820200000, -76.5682700000)', 'Total_Incidents': 1}, {'Index_Number': 5, 'CrimeDate': '09/02/2017', 'CrimeTime': '21:00:00', 'Location_Name': '2300 LYNDHURST AVE', 'Description': 'AGG. ASSAULT', 'Weapon': 'OTHER', 'District': 'NORTHWESTERN', 'Neighborhood': 'Windsor Hills', 'Longitude': -76.68365, 'Latitude': 39.3137, 'Exact_Location': '(39.3137000000, -76.6836500000)', 'Total_Incidents': 1}, {'Index_Number': 6, 'CrimeDate': '09/02/2017', 'CrimeTime': '21:00:00', 'Location_Name': '1200 N ELLWOOD AVE', 'Description': 'COMMON ASSAULT', 'Weapon': 'HANDS', 'District': 'EASTERN', 'Neighborhood': 'Berea', 'Longitude': -76.57419, 'Latitude': 39.30551, 'Exact_Location': '(39.3055100000, -76.5741900000)', 'Total_Incidents': 1}, {'Index_Number': 7, 'CrimeDate': '09/02/2017', 'CrimeTime': '21:00:00', 'Location_Name': '2300 LYNDHURST AVE', 'Description': 'AGG. ASSAULT', 'Weapon': 'OTHER', 'District': 'NORTHWESTERN', 'Neighborhood': 'Windsor Hills', 'Longitude': -76.68365, 'Latitude': 39.3137, 'Exact_Location': '(39.3137000000, -76.6836500000)', 'Total_Incidents': 1}  ... displaying 10 of 95577 total bound parameter sets ...  {'Index_Number': 95575, 'CrimeDate': '01/01/2012', 'CrimeTime': '00:30:00', 'Location_Name': '1100 S CHARLES ST', 'Description': 'COMMON ASSAULT', 'Weapon': 'HANDS', 'District': 'SOUTHERN', 'Neighborhood': 'Federal Hill', 'Longitude': -76.6144, 'Latitude': 39.27678, 'Exact_Location': '(39.2767800000, -76.6144000000)', 'Total_Incidents': 1}, {'Index_Number': 95576, 'CrimeDate': '01/01/2012', 'CrimeTime': '00:10:00', 'Location_Name': '1200 W LOMBARD ST', 'Description': 'AGG. ASSAULT', 'Weapon': 'OTHER', 'District': 'SOUTHERN', 'Neighborhood': 'Hollins Market', 'Longitude': -76.63757, 'Latitude': 39.28654, 'Exact_Location': '(39.2865400000, -76.6375700000)', 'Total_Incidents': 1})]
(Background on this error at: http://sqlalche.me/e/gkpj)